.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  overflow: hidden;
  border-radius: 1rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card-image-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease-in-out;
}

.card-image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(84, 77, 59, 0.2); /* Ciemny overlay */
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Upewnia się, że overlay nie będzie blokował kliknięcia w link */
}

.card:hover .card-image {
  transform: scale(1.05); /* Lekki zoom */
}

.card:hover .card-image-wrapper::after {
  opacity: 1; /* Pokazuje overlay */
}

.card-content {
  padding: 1rem 0.5rem;
  padding-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Pozycjonuje content nad overlayem */
}
