@keyframes slide-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#Header {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.headerContent {
  margin-left: 6rem;
}

.headerPicture {
  animation: slide-up 3.5s forwards;
  z-index: -1;
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  width: 40rem;
}
